<div id="print-section-MUI">
  <div class="infoFactura">
    <b class="recibi1">{{consignacion.recibi}}</b>
    <b class="efectos1">{{consignacion.efectos}}</b>
  </div>
  <div class="contenidoFactura">
    <b class="codigo1">
      <p *ngFor="let c of consignacion.codigo">{{c}}</p>
    </b>
    <b class="descripcion1">
      <p *ngFor="let d of consignacion.descripcion">{{d}}</p>
    </b>
    <b class="dimensiones1">
      <p *ngFor="let di of consignacion.dimensiones">{{di}}</p>
    </b>
    <b class="precio1">
      <p *ngFor="let p of consignacion.precio">{{p}}</p>
    </b>
    <b class="observaciones1">
      <p *ngFor="let o of consignacion.observaciones">{{o}}</p>
    </b>
  </div>
  <div class="pieFactura">
    <b class="dia">{{consignacion.dia}}</b>
    <b class="mes">{{consignacion.mes}}</b>
    <b class="anho">{{consignacion.anho}}</b>
  </div>

  <div class="duplicado">
    <div class="infoFactura">
      <b class="recibi1">{{consignacion.recibi}}</b>
      <b class="efectos1">{{consignacion.efectos}}</b>
    </div>
    <div class="contenidoFactura">
      <b class="codigo1">
        <p *ngFor="let c of consignacion.codigo">{{c}}</p>
      </b>
      <b class="descripcion1">
        <p *ngFor="let d of consignacion.descripcion">{{d}}</p>
      </b>
      <b class="dimensiones1">
        <p *ngFor="let di of consignacion.dimensiones">{{di}}</p>
      </b>
      <b class="precio1">
        <p *ngFor="let p of consignacion.precio">{{p}}</p>
      </b>
      <b class="observaciones1">
        <p *ngFor="let o of consignacion.observaciones">{{o}}</p>
      </b>
    </div>
    <div class="pieFactura">
      <b class="dia">{{consignacion.dia}}</b>
      <b class="mes">{{consignacion.mes}}</b>
      <b class="anho">{{consignacion.anho}}</b>
    </div>
  </div>
  <div class="triplicado">
    <div class="infoFactura">
      <b class="recibi1">{{consignacion.recibi}}</b>
      <b class="efectos1">{{consignacion.efectos}}</b>
    </div>
    <div class="contenidoFactura">
      <b class="codigo1">
        <p *ngFor="let c of consignacion.codigo">{{c}}</p>
      </b>
      <b class="descripcion1">
        <p *ngFor="let d of consignacion.descripcion">{{d}}</p>
      </b>
      <b class="dimensiones1">
        <p *ngFor="let di of consignacion.dimensiones">{{di}}</p>
      </b>
      <b class="precio1">
        <p *ngFor="let p of consignacion.precio">{{p}}</p>
      </b>
      <b class="observaciones1">
        <p *ngFor="let o of consignacion.observaciones">{{o}}</p>
      </b>
    </div>
    <div class="pieFactura">
      <b class="dia">{{consignacion.dia}}</b>
      <b class="mes">{{consignacion.mes}}</b>
      <b class="anho">{{consignacion.anho}}</b>
    </div>
  </div>
</div>

<button (click)="print()">Imprimir MUI</button>
