<div id="print-section">
  <div class="infoFactura">
    <div class="xcontado1">x</div>
    <div class="xcredito1">x</div>
    <b class="fecha1">07-12-1991</b>
    <b class="razon1">Esta es una razon social</b>
    <b class="direccion1">Esta es una direccion completa</b>
    <b class="numero_pedido1">12345</b>
    <b class="ruc1">12345-2</b>
    <b class="tel1">0991663303</b>
  </div>
  <div class="contenidoFactura">
    <b class="codigo1">1234</b>
    <b class="unidad1">30000</b>
    <b class="descripcion1">esta es una descripcion </b>
    <b class="precio_unitario1">10000 </b>
    <b class="excentas1">5000 </b>
    <b class="iva_5">5000</b>
    <b class="iva_10">20000</b>
  </div>
  <div class="pieFactura">
    <b class="total_a_pagar1">1500152 </b>
    <b class="total_a_pagar_letras1">{{letras.NumeroALetras(1500152)}}</b>
    <b class="iva_5_total">5000</b>
    <b class="iva_10_total">20000</b>
    <b class="iva_total">20000</b>
    <b class="documento">3521000</b>
  </div>
  <div class="duplicado">
    <div class="infoFactura2">
      <div class="xcontado1">x</div>
      <div class="xcredito1">x</div>
      <b class="fecha1">07-12-1991</b>
      <b class="razon1">Esta es una razon social</b>
      <b class="direccion1">Esta es una direccion completa</b>
      <b class="numero_pedido1">12345</b>
      <b class="ruc1">12345-2</b>
      <b class="tel1">0991663303</b>
    </div>
    <div class="contenidoFactura2">
      <b class="codigo1">1234</b>
      <b class="unidad1">30000</b>
      <b class="descripcion1">esta es una descripcion </b>
      <b class="precio_unitario1">10000 </b>
      <b class="excentas1">5000 </b>
      <b class="iva_5">5000</b>
      <b class="iva_10">20000</b>
    </div>
    <div class="pieFactura2">
      <b class="total_a_pagar1">1000000 </b>
      <b class="total_a_pagar_letras1">Un millon de guaranies</b>
      <b class="iva_5_total">5000</b>
      <b class="iva_10_total">20000</b>
      <b class="iva_total">20000</b>
      <b class="documento">3521000</b>
    </div>
  </div>
  <div class="triplicado">
    <div class="infoFactura3">
      <div class="xcontado1">x</div>
      <div class="xcredito1">x</div>
      <b class="fecha1">07-12-1991</b>
      <b class="razon1">Esta es una razon social</b>
      <b class="direccion1">Esta es una direccion completa</b>
      <b class="numero_pedido1">12345</b>
      <b class="ruc1">12345-2</b>
      <b class="tel1">0991663303</b>
    </div>
    <div class="contenidoFactura3">
      <b class="codigo1">1234</b>
      <b class="unidad1">30000</b>
      <b class="descripcion1">esta es una descripcion </b>
      <b class="precio_unitario1">10000 </b>
      <b class="excentas1">5000 </b>
      <b class="iva_5">5000</b>
      <b class="iva_10">20000</b>
    </div>
    <div class="pieFactura3">
      <b class="total_a_pagar1">1000000 </b>
      <b class="total_a_pagar_letras1">Un millon de guaranies</b>
      <b class="iva_5_total">5000</b>
      <b class="iva_10_total">20000</b>
      <b class="iva_total">20000</b>
      <b class="documento">3521000</b>
    </div>
  </div>
</div>

<button (click)="print()">print</button>
